</div>
</div>
<footer class="container nu no-top">
    <center>
        <p>
            <a href="mailto:me@simonmyway.com">Mail</a> |
            <a href="https://www.linkedin.com/in/picard-simon/">LinkedIn</a> |
            <a href="https://github.com/simonpicard">GitHub</a> |
            <a href="https://www.youtube.com/channel/UCwGlRur6TFSs2ehOqavak6Q">YouTube</a> |
            <a href="/feed.xml">RSS</a> |
            <a href="https://www.instagram.com/simon.myway/">Instagram</a> |
            <a href="https://www.twitch.tv/simonmyway">Twitch</a>
        </p>
    </center>
</footer>
<script src="/js/main.js"></script>
</body>

</html>